jboss/server/all/deploy/project.ext
jboss/server/default/deploy/project.ext
jboss/server/minimal/deploy/project.ext
jboss/server/all/log/*.log
jboss/server/all/tmp/**/*
jboss/server/all/data/**/*
jboss/server/all/work/**/*
jboss/server/default/log/*.log
jboss/server/default/tmp/**/*
jboss/server/default/data/**/*
jboss/server/default/work/**/*
jboss/server/minimal/log/*.log
jboss/server/minimal/tmp/**/*
jboss/server/minimal/data/**/*
jboss/server/minimal/work/**/*
**/jboss/standalone/log/
**/jboss/modules/net/
**/jboss/modules/com/
**/jboss/standalone/data/
**/jboss/standalone/tmp/
**/jboss/standalone/configuration/standalone_xml_history/
**/jboss/standalone/configuration/logging.properties

# deployed package files #
*.deployed

# TAR Archives
*.tar
*.iml
target/
node_modules/
node/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
sonar/
report_karma/

# Eclipse files #
.idea/
.vscode/
*.project
*.classpath
*.orig
.settings/
*.class
*/build/
**/MessageHistory/*
*.tern-project
*/activemq-data
*.iml
**/src/main/webapp/app/components.css
**/src/main/webapp/app/components.js
**/src/main/webapp/app/directives.css
**/src/main/webapp/app/directives.js
**/src/main/webapp/assets/libs.js
**/src/main/webapp/docs/**
**/src/main/webapp/release/**
*.log

