<nav class="navbar navbar-expand-xl navbar-dark navbar-bg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./assets/img/equensWorldline-RGB-White.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="justify-content-center collapse navbar-collapse" id="mainNavbar">
      <div class="text-white fw-bold">GENERATE INITIAL SCRIPT</div>
<!--      -->
<!--      <ul class="navbar-nav text-end">-->
<!--        <li class="nav-item">-->
<!--          <a routerLink="/script/sql/initial" class="nav-link text-white fw-bold">| Initial Script |</a>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
  </div>
</nav>
