USE `H0G_RBA`;

SET @service = '{{service}}';
SET @issuer = '{{issuer}}';

SELECT count(*) as countRulesetBeforeDelete FROM RULE_SET;
{%- macro equalOrNULL(name) %}
    {%- if name is defined and name != "*" -%}= '{{name}}'{%- else -%}is NULL{%- endif -%}
{%- endmacro %}

{%- for codeSubissuer,subissuer in subissuers.items() %}
-- -----------------------------------------------------------------------------
-- DELETE of rulesets linked to :
-- service   : {{service}}
-- issuer    : {{issuer}}
-- subissuer : {{codeSubissuer}}
-- -----------------------------------------------------------------------------
{%- if codeSubissuer == "*" %}
SET @subIssuer = NULL;
{% else %}
SET @subIssuer = '{{codeSubissuer}}';
{%- endif %}
SELECT ID FROM `ISSUER_CONFIG` WHERE `issuer` = @issuer AND `sub_issuer` {{equalOrNULL(codeSubissuer)}} ORDER BY id DESC LIMIT 1 INTO @issuerConfigId;

DELETE sp
FROM `SCORING_PROVIDER` sp
WHERE sp.issuer_config_id = @issuerConfigId;

DELETE ic
FROM `ISSUER_CONFIG` ic
WHERE ic.id = @issuerConfigId;

{%- for codeRuleset,ruleset in subissuer.rulesets.items() %}
-- --------------------------------------------
-- DELETE ruleset {{codeRuleset}}
-- issuer    : {{issuer}}
-- subissuer : {{codeSubissuer}}
-- card_scheme : {{ruleset.card_scheme}}
-- transaction_type : {{ruleset.transaction_type}}
-- location : {{ruleset.location}}
-- device_channel : {{ruleset.device_channel}}
-- --------------------------------------------
SELECT id FROM RULE_SET WHERE issuer = @issuer AND subIssuer {{equalOrNULL(codeSubissuer)}} AND service = @service AND transaction_type {{equalOrNULL(ruleset.transaction_type)}} AND card_scheme {{equalOrNULL(ruleset.card_scheme)}} AND device_channel {{equalOrNULL(ruleset.device_channel)}} AND location {{equalOrNULL(ruleset.location)}} ORDER BY id DESC LIMIT 1 INTO @rule_set_id;

DELETE ov
FROM OPERAND_VALUE ov
WHERE ov.rule_set_id = @rule_set_id;

DELETE o
FROM OPERAND o
WHERE o.condition_id in (SELECT rc.id FROM RULE_CONDITION rc
                         JOIN RULE r on rc.rule_id=r.id
                         WHERE r.rule_set_id = @rule_set_id);

DELETE  rc
FROM RULE_CONDITION rc
WHERE rc.rule_id in (SELECT r.id FROM RULE r 
                     WHERE r.rule_set_id = @rule_set_id);

DELETE r
FROM RULE r
WHERE r.rule_set_id = @rule_set_id;

DELETE rs
FROM RULE_SET rs
WHERE rs.id = @rule_set_id;
{% endfor %}
{% endfor %}

SELECT count(*) as countRulesetAfterDelete FROM RULE_SET;